<div class="category-grid">

    <!-- Row 1 -->
    <div class="category-block">
        <a href="{{ routes.collections_url }}/earrings">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.earrings_image %}{{ section.settings.earrings_image | img_url: 'master' }}{% else %}{{ 'earrings-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Earrings</h3>
            </div>
        </a>
    </div>
    <div class="category-block">
        <a href="{{ routes.collections_url }}/rings">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.rings_image %}{{ section.settings.rings_image | img_url: 'master' }}{% else %}{{ 'rings-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Rings</h3>
            </div>
        </a>
    </div>

    <!-- Row 2 -->
    <div class="category-block">
        <a href="{{ routes.collections_url }}/necklaces">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.necklaces_image %}{{ section.settings.necklaces_image | img_url: 'master' }}{% else %}{{ 'necklaces-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Necklaces</h3>
            </div>
        </a>
    </div>
    <div class="category-block">
        <a href="{{ routes.collections_url }}/bracelets">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.bracelets_image %}{{ section.settings.bracelets_image | img_url: 'master' }}{% else %}{{ 'bracelets-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Bracelets</h3>
            </div>
        </a>
    </div>

    <!-- Row 3 -->
    <div class="category-block empty">
        <!-- Product Collection Display -->
        <div class="collection-product-display">
            {% if section.settings.featured_collection != blank %}
            {% assign collection = collections[section.settings.featured_collection] %}

            {% paginate collection.products by 4 limit: 8 %}
            {% if collection.products.size > 0 %}
            <div class="product-grid">
                {% for product in collection.products %}
                <div class="product-card">
                    <div class="product-image-container">
                        {% if product.featured_image != blank %}
                        <img class="product-image"
                            src="{{ product.featured_image | img_url: '600x600', crop: 'center' }}"
                            alt="{{ product.title | escape }}">
                        {% else %}
                        {{ 'product-1' | placeholder_svg_tag: 'product-image' }}
                        {% endif %}
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">{{ product.title }}</h3>
                        <div class="product-price">
                            {% if product.compare_at_price > product.price %}
                            <span class="sale-price">{{ product.price | money }}</span>
                            <s>{{ product.compare_at_price | money }}</s>
                            {% else %}
                            <span>{{ product.price | money }}</span>
                            {% endif %}
                        </div>

                        {% if product.variants.size > 1 and product.options_by_name['Metal'] != blank %}
                        <div class="product-variants">
                            {% assign metal_option = product.options_by_name['Metal'] %}
                            {% for value in metal_option.values limit: 4 %}
                            {% assign color_code = "" %}
                            {% if value contains 'Gold' %}
                            {% assign color_code = "#E5D295" %}
                            {% elsif value contains 'Silver' %}
                            {% assign color_code = "#CDCCCC" %}
                            {% elsif value contains 'Rose Gold' %}
                            {% assign color_code = "#B76E79" %}
                            {% elsif value contains 'Platinum' %}
                            {% assign color_code = "#E5E4E2" %}
                            {% endif %}

                            {% if color_code != "" %}
                            <div class="variant-color" style="background-color: {{ color_code }};" title="{{ value }}">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if paginate.pages > 1 %}
            <div class="pagination">
                {% if paginate.previous %}
                
                <a href="{{ paginate.previous.url }}" class="prev">
                    {% render 'icon-arrow-left' %}
                </a>
                <div class="prev grayed-out">{% render 'icon-arrow-right-gray' %}</div>
                {% endif %}

                {% if paginate.next %}
                <div class="prev grayed-out">{% render 'icon-arrow-left-gray' %}</div> 
                <a href="{{ paginate.next.url }}" class="next">
                    {% render 'icon-arrow-right' %}
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% else %}
            <p>No products found in this collection</p>
            {% endif %}
            {% endpaginate %}
            {% else %}
            <p>Please select a collection in the theme editor</p>
            {% endif %}
        </div>
    </div>

    <div class="category-block">
        <a href="{{ section.settings.selected_collection.url }}" class="collection-banner-link">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.collection_banner_image %}{{ section.settings.collection_banner_image | img_url: 'master' }}{% elsif section.settings.selected_collection.featured_image %}{{ section.settings.selected_collection.featured_image | img_url: 'large' }}{% endif %}');">
                </div>
                <h3 class="collection-dynamic-title">
                    {{ section.settings.selected_collection.title }}
                    <span class="collection-title">Collection</span>
                </h3>
            </div>
        </a>
    </div>

    <!-- Row 4 -->
    <div class="category-block">
        <a href="{{ routes.collections_url }}/personalization">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.personalization_image %}{{ section.settings.personalization_image | img_url: 'master' }}{% else %}{{ 'personalization-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Personalization</h3>
            </div>
        </a>
    </div>
    <div class="category-block">
        <a href="{{ routes.collections_url }}/charms">
            <div class="category-image">
                <div class="category-image-inner"
                    style="background-image: url('{% if section.settings.charms_image %}{{ section.settings.charms_image | img_url: 'master' }}{% else %}{{ 'charms-category.png' | asset_url }}{% endif %}');">
                </div>
                <h3 class="category-title">Charms</h3>
            </div>
        </a>
    </div>
</div>

{% schema %}
{
"name": "Category Section",
"limit": 1,
"settings": [
{
"type": "collection",
"id": "selected_collection",
"label": "Select Collection",
"info": "Choose a collection to display on this block."
},
{
"type": "collection",
"id": "featured_collection",
"label": "Products to Display",
"info": "Choose a collection for the products grid"
},
{
"type": "image_picker",
"id": "collection_banner_image",
"label": "Collection Banner Image",
"info": "Upload a custom image for the collection banner. If left blank, the collection's featured image will be used."
},
{
"type": "image_picker",
"id": "earrings_image",
"label": "Earrings Image",
"info": "Upload an image for the Earrings category."
},
{
"type": "image_picker",
"id": "rings_image",
"label": "Rings Image",
"info": "Upload an image for the Rings category."
},
{
"type": "image_picker",
"id": "necklaces_image",
"label": "Necklaces Image",
"info": "Upload an image for the Necklaces category."
},
{
"type": "image_picker",
"id": "bracelets_image",
"label": "Bracelets Image",
"info": "Upload an image for the Bracelets category."
},
{
"type": "image_picker",
"id": "personalization_image",
"label": "Personalization Image",
"info": "Upload an image for the Personalization category."
},
{
"type": "image_picker",
"id": "charms_image",
"label": "Charms Image",
"info": "Upload an image for the Charms category."
}
],
"presets": [
{
"name": "Default",
"category": "Custom"
}
]
}
{% endschema %}
